flows.json
[
    {
        "id": "6c3acccb46e9613e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ad4904b3150fa5f",
        "type": "homekit-service",
        "z": "6c3acccb46e9613e",
        "isParent": true,
        "hostType": "0",
        "bridge": "5c866b6c76541d81",
        "accessoryId": "",
        "parentService": "",
        "name": "Light",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.5.0",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.5.0",
        "hardwareRev": "1.5.0",
        "softwareRev": "1.5.0",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "b56d670238bf4dee"
            ],
            [
                "394a851e498f7235"
            ]
        ]
    },
    {
        "id": "b56d670238bf4dee",
        "type": "debug",
        "z": "6c3acccb46e9613e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 20,
        "wires": []
    },
    {
        "id": "394a851e498f7235",
        "type": "ui_text",
        "z": "6c3acccb46e9613e",
        "group": "972e1665dd465085",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "10a2124584951878",
        "type": "ui_switch",
        "z": "6c3acccb46e9613e",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "972e1665dd465085",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"Name\":\"On\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"Name\":\"Off\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 20,
        "wires": [
            [
                "3ad4904b3150fa5f"
            ]
        ]
    },
    {
        "id": "cf6ecc77859754ee",
        "type": "ui_switch",
        "z": "6c3acccb46e9613e",
        "name": "LED Switch",
        "label": "switch",
        "tooltip": "",
        "group": "972e1665dd465085",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "7a55810eba087fe4"
            ]
        ]
    },
    {
        "id": "7a55810eba087fe4",
        "type": "rpi-gpio out",
        "z": "6c3acccb46e9613e",
        "name": "LED",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "48976d089db45125",
        "type": "mqtt in",
        "z": "6c3acccb46e9613e",
        "name": "",
        "topic": "home/office/rpi/18",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fa32ccf395f8401",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "0a625f5ef08b9482"
            ]
        ]
    },
    {
        "id": "56f68f5bc5ecd675",
        "type": "mqtt out",
        "z": "6c3acccb46e9613e",
        "name": "",
        "topic": "home/office/rpi/18",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fa32ccf395f8401",
        "x": 330,
        "y": 460,
        "wires": []
    },
    {
        "id": "2ff6db55e29d3f44",
        "type": "ui_switch",
        "z": "6c3acccb46e9613e",
        "name": "LED Switch",
        "label": "switch",
        "tooltip": "",
        "group": "972e1665dd465085",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "56f68f5bc5ecd675"
            ]
        ]
    },
    {
        "id": "0a625f5ef08b9482",
        "type": "rpi-gpio out",
        "z": "6c3acccb46e9613e",
        "name": "LED",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "b7dfca32a0efa306",
        "type": "mqtt in",
        "z": "6c3acccb46e9613e",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fa32ccf395f8401",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 560,
        "wires": [
            [
                "ee0636e8c9d97ee4"
            ]
        ]
    },
    {
        "id": "90f26cc8211dfd97",
        "type": "mqtt in",
        "z": "6c3acccb46e9613e",
        "name": "",
        "topic": "counter",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fa32ccf395f8401",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 660,
        "wires": [
            [
                "8eec88c024b91743",
                "85db58da89ac773f"
            ]
        ]
    },
    {
        "id": "8daa533d22544db2",
        "type": "mqtt out",
        "z": "6c3acccb46e9613e",
        "name": "",
        "topic": "led",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fa32ccf395f8401",
        "x": 230,
        "y": 760,
        "wires": []
    },
    {
        "id": "7e2707b6836bf481",
        "type": "ui_switch",
        "z": "6c3acccb46e9613e",
        "name": "",
        "label": "switch",
        "tooltip": "Controls GPIO 2",
        "group": "2152695bf61ada1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 760,
        "wires": [
            [
                "8daa533d22544db2"
            ]
        ]
    },
    {
        "id": "ee0636e8c9d97ee4",
        "type": "ui_text",
        "z": "6c3acccb46e9613e",
        "group": "2152695bf61ada1c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 560,
        "wires": []
    },
    {
        "id": "8eec88c024b91743",
        "type": "ui_chart",
        "z": "6c3acccb46e9613e",
        "name": "",
        "group": "2152695bf61ada1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 230,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "85db58da89ac773f",
        "type": "ui_gauge",
        "z": "6c3acccb46e9613e",
        "name": "",
        "group": "2152695bf61ada1c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "lux",
        "format": "{{value}}",
        "min": "100",
        "max": "2000",
        "colors": [
            "#00b500",
            "#0432ff",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 230,
        "y": 620,
        "wires": []
    },
    {
        "id": "6e964e4a7a7463b3",
        "type": "ui_spacer",
        "z": "6c3acccb46e9613e",
        "name": "spacer",
        "group": "972e1665dd465085",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2141c0abc805795c",
        "type": "ui_spacer",
        "z": "6c3acccb46e9613e",
        "name": "spacer",
        "group": "972e1665dd465085",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "b64c70f92030d210",
        "type": "ui_spacer",
        "z": "6c3acccb46e9613e",
        "name": "spacer",
        "group": "972e1665dd465085",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5c866b6c76541d81",
        "type": "homekit-bridge",
        "bridgeName": "Bridge",
        "pinCode": "793-99-863",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.5.0",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.5.0",
        "hardwareRev": "1.5.0",
        "softwareRev": "1.5.0",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "972e1665dd465085",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "0b565b966e08366c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fa32ccf395f8401",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2152695bf61ada1c",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "0b565b966e08366c",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "0b565b966e08366c",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]